* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    overflow-x: hidden;
}

html {
    font-size: 65.5%;
}

.bg1 {
    background-image: url('../images/banner-bg.jpg');
    background-size: 100% 100%;
    background-color: rgb(89, 0, 255);
    padding-bottom: 5rem;
width: 100vw;
}

.nav {
    display: grid;

    grid-template-columns: 1fr 3fr 1.4fr;
    height: 10rem;
    line-height: 10rem;
    color: white;
    justify-items: center;
}

nav {
    margin-left: -19rem;
}

nav a {
    font-size: 2rem;
    padding: 0px 1rem;
    text-transform: capitalize;
    color: white;
}

.contact {
    display: grid;
    grid-template-columns: .5fr 1fr
}

.contact img {
    width: 4rem;
    margin-top: 3rem;
}

.contact p {
    font-size: 2rem;
    border-radius: 2rem;
}
.logo {

    font-size: 3.4rem;
}

#CHECK,
#checkbtn {
    display: none;

}

@media (max-width:1012px) {
    nav {
        margin-left: -19;
    }
}

@media screen and (max-width:750px) {
    #checkbtn {
        display: inline-block;
    }

    .nav {
        grid-template-columns: .4fr 1fr 1fr;
    }

    .logo {
        position: absolute;
        left: 35%;
    }

    .contact {
        position: absolute;
        right: 0;
        margin-right: 3rem;
    }

    nav {
        background-color: rgba(101, 165, 158, 0.94);
        width: 105vw;
        height: fit-content;
        top: 10rem;
        position: absolute;
        left: -110%;

    }

    nav a {
        display: block;
        color: rgb(255, 255, 255);
        margin-left: 4rem;
        line-height: 4rem;
    }

    i {
        font-size: 3rem;
        color: white;
        position: absolute;
        top: 3.8rem;
        left: 4rem;
    }

    #CHECK:checked~nav {
       left: 0%;
        transition: .5s;
        transition-timing-function: ease-in;

    }
}

@media screen and (max-width:477px) {
    .nav {
        grid-template-columns: .4fr 1fr 1.6fr;
    }
}

/* here end nav bar */

.text img {
    width: 50px;
    border-radius: 40%;

    display: inline-block;
}

.contanier1>img {
    width: 400px;
    border-radius: 50%;
    color: white;
}

.text h1 {
    font-size: 4rem;
    display: inline-block;
    margin-left: 2rem;
    background-color: white;
    border-radius: 3rem;
    width: 27rem;
    text-align: center;
    font-weight: lighter;

}

.text h2 {
    font-weight: lighter;
    margin-top: 16px;
    margin-left: -28px;
    font-size: 2.7rem;
    background-color: white;
    color: rgba(28, 225, 84, 0.79);
    width: 100%;

    text-align: center;
    border-radius: 4rem;
}

.text button {
    width: 13rem;
    background-color: rgb(89, 0, 255);
    border: none;
    border-radius: 3rem;
    font-size: 2rem;
    height: 5rem;
    color: white;
    margin: 2.4rem -1.8rem 0 0;
}

.contanier1 {
    display: grid;
    padding: 0px 55px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

}

@media screen and (max-width:960px) {
    .contanier1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .text,
    .contanier1>img {
        justify-self: center;
    }

    .contanier1>img {
        display: grid;
        width: 100%;
        margin-top: 10rem;
        justify-self: center;
        margin-left: -5rem;

    }

}

/* here end frist section */
/* here second frist section */


.contanier-about-1 {
    /* padding-bottom: 40rem; */
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 4rem;
}

.contanier-about-1>img {
    height: 43rem;
    width: 49rem;
    border-radius: 4rem;

}

.about-me img {
    width: 10rem;
    border-radius: 10rem;
}

.story {
    display: inline-block;
    background-color: rgba(28, 225, 84, 0.79);
    height: 13rem;
    border-radius: 2rem;
    width: 100%;
    text-align: center;

}

.story img {
    float: right;
    margin-right: 4rem;
    margin-top: 1rem;

    /* align-self: center; */

}

.about-me p {
    font-size: 2.3rem;
    margin-top: 1rem;
}

.about-me h2 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.story span {
    display: inline-block;
    font-size: 5rem;
    margin-top: 3rem;
    color: white;
}



@media screen and (max-width:1113px) {
    .contanier-about-1 {
        padding: 0 3rem;
    }
}

@media screen and (max-width:964px) {
    .contanier-about-1 {
        display: block;
        /* margin-top: 84rem; */

    }

    .contanier-about-1 {
        width: 100%;
    }

    .contanier-about-1 img {
        display: block;
        margin: auto;
        margin-bottom: 3rem;
    }


}

/* here end contanier-about-1 */

/* here statr information poration */
.information {
    margin-top: 10rem;
    padding-top: 4rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 13rem;
    grid-column-gap: 40%;}
    .experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-column-gap: 4rem;

}.name {
    display: grid;
    grid-template-columns: 200px 100px;
    font-size: 2rem;
    text-transform: capitalize;
    padding: 2rem 0px;
}.name h2 {
    color: rgb(18, 157, 231);
    font-size: 2rem;
}

.information {
    font-size: 2rem;
}

.information .exper h2 {
    font-size: 7rem;
}

@media screen and (max-width:960px) {

    .information {
        margin-top: 0%;
        grid-column-gap: 0;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: -36px;
    }

    .experience,
    .info {

        margin: auto;
    }
}

@media screen and (max-width:700px) {
    .name {


        grid-template-columns: 100px 100px;
        padding: 0 0;
    }
}

.companies img{
    width: 100px;
}
.companies{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}
.worked{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 5rem;
}
/* here end about section */
/* here start services section strat */
.cover{
    width: 90%;
    height: 10rem;
    background-color: rgb(0, 149, 255);
    margin: auto;
    /* margin-top: 33; */
    text-align: center;
    border-radius: 2rem;
}
.cover img{
   border-radius: 50%;
    height: 10rem;}
.cover h2{
    background-color: yellow;
    display: inline-block;
    font-size: 4rem;
    position: relative;
top:-3rem;
left:3rem;
}
@media screen and (max-width:700px) {
    .cover{
        width: 100%;
    }
    
}
@media screen and (max-width:378px){
    .cover{
        width: 100vw;
       height: 20rem;
       margin: 0%;
    }
    .cover h2{
        display: block;
        text-align: center;top: 3rem;
        left: 0%;

    }
}
@media screen and (max-width:370px) {
    .cover{
        width: 108vw;
        
    }
}
.contanier-services{
    margin-top: 10rem;
}
.service h2{
    font-size: 3em;
    display: inline-block;
    width:10rem
   

}
.service :nth-child(2){
    width: 8rem;
    font-size: 2rem;
    border-radius: 2rem;
    background-color: rgb(52, 179, 113);
    border: none;
  
    /* float: right; */
  
} 

.service p{
    font-size: 2.3rem;
    width: 61%;
    padding: 4rem 0rem;
}
.service :nth-child(4){
    width: 17rem;
    height: 4rem;
    font-size: 2rem;
    text-transform: capitalize;
    display: block;
    text-align: justify;
    margin: 0rem 0rem 8rem;
    border-radius: 2rem;
    border: none;
    background-color: rgb(185, 192, 188);
    text-align: center;
   
}
.service img{
    width: 10rem;
}
.contanier-services{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto auto auto;
   padding: 0 5%;
   grid-row-gap: 10rem;
   grid-column-gap: 10rem;
   padding-left:20rem;
}
.service{
 display: grid;
}
.service :nth-child(2){
    justify-self: center;
    margin-top: -3rem;
}
.service :last-child{
    justify-self: center;
}

@media (max-width:1111px){
    .service p{
        font-size: 2.3rem;
        width: 100%;
    
    }
    
}
@media(max-width:1200px){
    .service :nth-child(2){
        display: block;
        float: right;
        margin-left: 20rem;
    }
}

@media  (max-width:600px) {
    .contanier-services{
        grid-template-columns: 1fr;
    
    }
}
.proj{
    background-color: rgb(33, 211, 169);
    width: 40%;
    height: 10rem;
    float: right;
    text-align: center;
    border-radius: 3rem;
   margin-right: 4rem;
   
}
/* here some work on say hi poration */
.proj img,.proj1 img{
    width: 8rem;
    border-radius: 3rem;
    margin-top: 2rem;
   
}
.proj h2,.proj1 h2{
    font-size: 3rem;
display: inline-block;
    width: 10rem;
    color: white;
    position: relative;
    right: -2rem;
    top: -1.5rem;
   }
@media screen and (max-width:700px) {
    .proj,.proj2{
        width:70%
    }
    
}
@media screen and (max-width:470px) {
    .proj{
        width:100%;
        margin: 0%;}}
        .card{
            background-color: rgb(244, 244, 244);
            width:100%;
            height: 46rem;
            text-align: center;
            margin-bottom: 4rem;
        }
        
        .card h2{
            font-size: 3rem;
     }
        .card h3{
            font-size: 2rem;
            color: rgb(33, 211, 169);
            padding-top: 2rem
            ;
text-transform:uppercase;
        }
.card img{
    width: 30rem;
    margin-top:6rem;}

.prject-contanier{
   display: grid;
   grid-template-columns: 50% 50% 50%;
   grid-template-rows: auto;
column-gap: 4rem;
position: relative;
top:15rem;
left: 1rem;
}

@media (max-width:1300px){
.prject-contanier{
    width: 100vw;
    grid-template-columns: repeat(auto-fit, minmax(34rem,1fr));
  margin: auto;
}
}
/* here end project section */
/* here start say hi section */
.proj1{
    background-color: rgb(33, 211, 169);
    width: 40%;
    height: 10rem;
 font: left;
    text-align: center;
    border-radius: 3rem;
   margin-right: 4rem;
}

footer{
    background-color: aqua;
    height: 10rem
    ;text-align: center;
    font-size: 3rem;
    line-height: 10rem;
    margin-top: 3rem;
}


:link:hover {
    background-color: rgba(140, 194, 211, 0.567);
}
@media screen and (max-width:1012px) {
    html {
        font-size: 55%;
    }

}

@media screen and (max-width:712px) {
    html {
        font-size: 45.5%;
    }

}
/* reposive */
@media (max-width:800px){
.contanier-services {
    padding-left: 0px;
    padding: 0px 2rem;
}.contanier-about-1>img{
    width:100%;

}}